/****************
mentions-container
****************/

.mentions-container {
    margin-top: 32px;
    max-width: var(--single-column-w);
}

.mentions-container p {
    font-size: var(--global-fz-md);
    line-height: 1.8;
}

.mentions-container ul {
    margin: 12px 0 0;
    padding-inline-start: 0;
    list-style: none;
}

.mentions-container li {
    padding-bottom: 3px;
    font-size: var(--global-fz-md);
    line-height: 1.8;
}

.mentions-container li:not(:first-of-type) {
    padding-top: 3px;
}

.mentions-container li:last-of-type {
    padding-bottom: 0;
}
